@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-*: initial;
  --font-sans: var(--font-primary), var(--font-secondary);
  --primary: #1f2d55;
  --primary-50: #e7ebf1;
  --primary-100: #c3ccdd;
  --primary-200: #9dabc5;
  --primary-300: #788aad;
  --primary-400: #5b719d;
  --primary-500: #3e598e;
  --primary-600: #375186;
  --primary-700: #2f477a;
  --primary-800: #283e6d;
  --primary-900: #1f2d55;
}